.left {
  left:0px;
  width:10%;
  height:80%;
  background-color:red;
}

.right {
  right:0px;
  width:10%;
  height:80%;
  background-color:blue;
}

.panel {
  position:fixed;
}

.bottom-panel {
  right:0px;
  bottom:0px;
  height:20%;
  width:100%;
  background-color:green;
}
