.left {
  left:0px;
  width:250px;
  height:800px;
  background-color:red;
}

.right {
  right:0px;
  width:250px;
  height:800px;
  background-color:blue;
}

.panel {
  position:fixed;
}

.bottom-panel {
  bottom:0px;
  height:100px;
  width:100%;
  background-color:green;
}
