.center-element {
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.panel {
  float:left;
  padding:20px;
  height:600px;
}

.left, .right {
  min-width:30%;
  max-width:60%;
  background-color:blue;
}

.middle {
  min-width:40%;
  max-width:80%;
  background-color:red;
}

.row:after {
  content:"";
  display:table;
  clear:both;
}
